.heading{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    background-color: #1781C1;
    color: azure;
    font-weight: bold;
    padding-left: 30px;
    text-align: center;
}
.top{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin: auto;
    text-align: center;
}
.lock{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #1781C1;
    margin: auto;
    text-align: center;
}

.body{  
        width: 444px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 80px;  
        background: #c9c9c9;  
        border-radius: 15px ;
        text-align: left;
        margin-top: 30px;          
} 

h2{  
    text-align: center;  
    color: #030303;  
    padding: 20px;  
}  
label{  
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;  
    font-size: 17px; 
    text-align: center; 
}  
#Uname{ 
    margin-top: 20px; 
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
    margin-bottom: 10px;
}  
#Pass{  
    margin-top: 20px; 
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
      
}  
#bck{  
    background-color: #1781C1;
    width: 100px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;
    margin-top: 30px;  
    color: rgb(255, 255, 255);  
}   
#cs{  
    background-color: #1781C1;
    width: 100px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;
    margin-top: 30px;  
    color: rgb(255, 255, 255);  
}   
span{  
    color: rgb(255, 255, 255);  
    font-size: 17px;  
}  
.img-1 {
    width: 300px
}
table{
    border-collapse: collapse;
    
}
table td {
    border: 1px solid #e3e3e3;
    padding: 4px 8px;
    background-color: #FFF;
}