.Heading{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    background-color: #1781C1;
    color: azure;
    font-weight: bold;
    padding: 30px;
}
.Top{
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    text-align: center;
}
h2{  
    text-align: center;  
    color: #030303;  
    font-size: 22px;  
} 
h3{  
    text-align: center;  
    color: #030303;  
    font-size: 16px;  
}  
label{  
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;  
    font-size: 17px; 
    text-align: center; 
} 
#search{
    width: 300px;  
    height: 30px; 
    font-size: 16px;
}
#btnSearch{
    width: 80px;  
    height: 30px; 
    font-size: 16px;
}
.Body{
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.Form{
    width: 382px;  
    overflow: hidden;  
    margin: auto;  
    margin: 20 0 0 450px;  
    padding: 80px;  
    background: #c9c9c9;  
    border-radius: 15px ;
    text-align: center;
    margin-top: 30px;  
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 30%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  table{
    border-collapse: collapse;
    
}
table td {
    border: 1px solid #e3e3e3;
    padding: 4px 8px;
    background-color: #FFF;
}
table th {
    border: 1px solid #e3e3e3;
    padding: 4px 8px;
    background-color: #FFF;
}